body {
    background-color: $color-black;
    color: $color-grey; 
    font-family: 'Inter', sans-serif;
    font-size: $font-p;

}

h2 { 
  font-size: $font-h2; 
}

h3 { 
  font-size: $font-h3; 
}

p { 
  font-size: $font-p; 
}

.container {
  width: 90%;      
  max-width: 1400px; 
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0 20px;

  &__logo-container {
    width: 100%;
    max-width: 1100px; 
    margin: 0 auto 40px; 
    display: flex;
    justify-content: center;
  }

  &__logo {
    width: 100%; 
    height: auto; 
    display: block; 
  }

  &__text {
    max-width: 800px; 
    margin: 0 auto;
    font-size: $font-p; 
    line-height: 1.6;   
    opacity: 0.9;
  }
}

.selector {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid $color-grey--transparent2;
    border-radius: 12px;
    overflow: hidden;
  }

  &__item {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 15px 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;

    &:hover{
      color: $color-pink;
    }
    
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: 0;
      top: 20%;
      height: 60%;
      width: 1px;
      background-color: $color-grey--transparent2;
    }

    &--active {
      font-weight: 700;
    }
  }
}

.main__filters {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  .select__element {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .select__list {
    background-color: transparent;
    color: $color-grey;
    border: 1px solid $color-grey--transparent2;
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 16px; 
    min-width: 320px;
    cursor: pointer;
    

    &:focus {
      outline: none;
      border-color: $color-grey;
    }
  }

  .search__input {
    background-color: $color-grey--transparent2; 
    color: $color-grey;
    border: 1px solid $color-grey--transparent3;
    border-radius: 8px; 
    padding: 12px 20px;
    font-size: 16px; 
    min-width: 320px;
  }

  .main__reset {
    background-color: $color-grey--transparent2; 
    color: $color-grey;
    border: 1px solid $color-grey--transparent3;
    border-radius: 8px; 
    padding: 12px 35px;
    font-size: 16px;
    cursor: pointer;
    transition: scale 0.3s ease;

    &:hover{
      scale: 1.05;
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  padding: 60px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.result-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;

  &--line{
    border-right: 1px solid $color-grey--transparent2;
    padding-right: 40px;
  }
  
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--left{
      align-items: end;
    }
  }

  &__item {
    width: fit-content;
    background-color: $color-grey;
    color: $color-black;
    padding: 15px 45px;
    border-radius: 10px;
    font-size: $font-h3;
    font-weight: 900;
  }

  &__title {
    font-size: $font-p;
    font-weight: 400;
    line-height: 1.4;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  &--opposite{
    flex: 6;
   
  }

  &--right {
    flex: 6;
    padding-left: 20px;

    .result-block__list {
      display: block;
      height: 400px;

      .result-block__item {
        position: absolute;
        background: transparent;
        padding: 0;
        
        img {
          border-radius: 50%;
          object-fit: cover;
          transition: transform 0.3s ease;
          
          &:hover { 
            transform: scale(1.1); 
         }
        }

        &:nth-child(1) { 
            top: 0; 
            right: 20px; 
            width: 150px; 
        }
        &:nth-child(2) { 
            top: 40px; 
            left: 100px; 
            width: 80px; 
        }
        &:nth-child(3) { 
            bottom: 20px; 
            left: 150px; 
            width: 100px; 
        }
        &:nth-child(4) { 
            top: 200px; 
            left: 20px; 
            width: 70px; 
        }
      }
    }
  }
 }

.footer{
  background-color: $color-black;
  text-align: center;

  &__logo-container{
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    rotate: 180deg;
 }

  &__link{
    display: inline-block;
    color: $color-grey;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: $color-pink;
    }
 }

   p {
    color: $color-grey;
    margin: 10px 0;
  }
}

img{
  width: 100%;
}