$color-black: #000000;
$color-grey: #DDDDDD;
$color-middleGrey: #989898;
$color-darkGrey: #131313;
$color-grey--transparent1: rgba(225, 225, 225, 0.1);
$color-grey--transparent2: rgba(255, 255, 255, 0.2);
$color-grey--transparent3: rgba(225, 225, 225, 0.3);
$color-pink: #FF3C7A;

$font-p: 20px;
$font-h2: clamp(1.25rem, 0.8382rem + 1.8824vw, 2.25rem);
